{% load static %}

 <!-- ======= Footer ======= -->
    <div class="footer-top">
        <div class="logo">
          <img src="{% static 'img/icon.png' %}" alt="">

        <div class="information-footer">
          <ul><p>Engenheiro Antônio Jovino,</p>
          <p>São Paulo, Vila Andrade 220,</p>
          <p>Brasil, CEP 05727 220</ul></p>
          <ul><strong> Telefone 1 :</strong> +55 (11) 4502-4500</ul>
          <ul><strong> Telefone 2 :</strong> +55 (11) 4502-4501</ul>
          <ul><strong> E-mail :</strong> suporte@comnect.com.br</ul>
        </div>
      </div>
      <div class="footer-links">
        <h4>Nossos Serviços</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="http://www.comnect.com.br/servicos/servi%c3%a7o-servi%c3%a7o-de-conectividade-tef.html">Conectividade TEF</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="http://www.comnect.com.br/servicos/servi%c3%a7os-hospedagem.html">Hospedagem</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="http://www.comnect.com.br/servicos/servi%c3%a7os-monitoramento.html">Monitoramento</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="http://www.comnect.com.br/servicos/servi%c3%a7os-suporte.html">Suporte</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="http://www.comnect.com.br/servicos/servi%c3%a7os-paas.html">PaaS</a></li>
          </ul>
    </div>
    <div class="social-footer"></div>
    <ul>
      <h4>Mídias Sociais</h4>
        <li><a class="fab fa-linkedin" href="https://www.linkedin.com/company/wnb/mycompany/"></a></li>
        <li><a class="fab fa-facebook" href="#"></a></li>
        <li><a class="fab fa-google-plus" href="http://www.comnect.com.br/"></a></li>
      </ul>
      
  </div>
  <div class="copyright-block">
    <p>
      © 2024 COMNECT | todos os direitos reservados
    </p>
  </div>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fa-solid fa-thumbtack"></i></a>