{% load static %}
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><img src="{% static 'img/icon.png'%}" alt="" width="120" height="50" class="d-inline-block align-top"/></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="fab fa-linkedin" href="https://www.linkedin.com/company/wnb/mycompany/"></a></li>
          <li><a class="fab fa-facebook" href="#"></a></li>
          <li><a class="fab fa-google-plus" href="http://www.comnect.com.br/"></a></li>
          <li><a class="getstarted scrollto" href="#about">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Bem vindo ao ChatBot da Comnect !</h1>
          <h2>Sua ferramenta de atendimento virtual.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="appointments/form.html" class="btn-get-started scrollto">Vamos começar ?</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Assista o vídeo</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'img/hero.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->